<!DOCTYPE html>
<html lang="it-IT">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Gesture Recognition with Arduino and MediaPiepe</title>
    <!-- Meta -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="D'Acunto Andrea - D'Emilio  Marco - Russo Vincenzo">
    <link rel="shortcut icon" href="https://mediapipe.dev/images/mediapipe_small.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link id="theme-style" rel="stylesheet" href="./styles.css">

    <script src="highlight.min.js"></script>
    <link rel="stylesheet" href="xcode.min.css">
    <script>hljs.initHighlightingOnLoad();</script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async
    src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script>
</head>

<body>
    <!-- ******HEADER****** -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-8 align-self-center profile-content">
                    <div class="row align-items-center">
                        <div class="col-md-2">
                            <img class="img-fluid  profile-image img-responsive pull-left"
                                src="../assets/graphics/logo.svg" alt="logo" hegiht="300" width="300">
                        </div>
                        <div class="col-md-10">

                            <h1 class="name">Gesture classification and recognition with Arduino</h1>
                            <h2 class="desc">Creazione e sviluppo di un applicativo desktop per il riconoscimento
                                delle gesture della mano tramite
                                l'utilizzo di <strong>Mediapipe</strong> ed integrazione con Arduino </h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="profile-content pull-right">
                        <img class="profile-image img-responsive pull-left"
                            src="http://web.unibas.it/bloisi/assets/images/logo.png" alt="unibas logo" height=97
                            width=312 />
                        <p>&nbsp;</p>
                        <h3 class="desc">
                            <a href="http://web.unibas.it/bloisi/corsi/visione-e-percezione.html" target="_blank">
                                Corso di Visione e Percezione</a>
                        </h3>
                    </div>
                </div>
            </div>

        </div>
        <!--//container-->
    </header>
    <!--//header-->

    <div class="container sections-wrapper">
        <div class="row">
            <div class="primary col-md-8 col-sm-12 col-xs-12">
                <!-- Problema -->
                <section class="about section">
                    <div class="section-inner">
                        <h2 class="heading">Problema</h2>
                        <div class="content">
                            <p>
                                Una problematica nota nel campo dei dispositivi smart consiste nella possibilità di
                                interagire con loro
                                attraverso varie opzioni, tra le più comuni vi è la voce per impartire comandi di
                                varia natura, il viso per il riconoscimento facciale oppure, di molto più interesse per
                                noi, l'utilizzo delle mani per il riconoscimento di gestures e segni, il tutto è
                                finalizzato
                                alla modifica del comportamento del dispositivo a seconda delle esigenze.
                            </p>
                        </div>
                    </div>
                </section>

                <!-- Motivazioni -->
                <section class="about section">
                    <div class="section-inner">
                        <h2 class="heading">Motivazioni</h2>
                        <div class="content">
                            <p>
                                Il progetto posto in essere consiste nella detection e nella classificazione di hand
                                gesture per impartire comandi ai sensori di un arduino. Le motivazioni che ci hanno
                                portato a concentrare
                                i nostri sforzi nella realizzazione di un applicativo per la classificazione e il
                                controllo degli hand sign e delle hand
                                gestures è da attribuire alla loro utilità in diversi ambiti,come ad esempio quello
                                domestico (e.g, controllo di dispositivi smart come accendere le luci o alzare/abbassare
                                le tapparelle in maniera semplice e intuitiva).
                            </p>
                        </div>
                    </div>
                </section>

                <!-- Obiettivi -->
                <section class="about section">
                    <div class="section-inner">
                        <h2 class="heading"><a id="goals"></a>Obiettivi</h2>
                        <div class="content">
                            La realizzazione del seguente progetto consta di quatro parti:</br></br>
                            <ol>
                                <li><strong>Creazione</strong> del dataset per la classificazione degli hand sign e del dataset 
                                    per le gestures della mano</li>
                                <li><strong>Training</strong> dei modelli tramite i corrispettivi dataset</li>
                                <li><strong>Implementazione</strong> di un applicativo grafico per la gestione delle
                                    gesture </li>
                                <li><strong>Connessione</strong> con l'Arduino e invio dei comandi ai sensori</li>
                            </ol>
                            </p>

                        </div>
                    </div>
                </section>

                <!-- Assemblaggio -->
                <section class="about section">
                    <div class="section-inner">
                        <h2 class="heading"><a id="assemblaggio"></a>Assemblaggio del circuito</h2>
                        <div class="content">

                            <p>Il processo di assemblaggio del circuito di Arduino è proseguito di pari passo all'individuazione dei segni e delle gestures, 
                                consentendoci la possibilità di simulare un ambiente reale.</p>
                            <p>I componenti usati per l'assemblaggio del circuito sono: </p>
                            <ul>
                                <li>
                                    <strong>Microcontrollore:</strong> Arduino uno.
                                </li>
                                <li>
                                    <strong>Componenti:</strong>
                                </li>
                                <ol>
                                    <li>
                                        <p class="mb-0">Led: Rosso, Verde, Blu;</p>
                                    </li>
                                    <li>
                                        <p class="mb-0">Piezometro;</p>
                                    </li>
                                    <li>
                                        <p class="mb-0">Servo Motore.</p>
                                    </li>
                                </ol>
                            </ul>

                            <br>
                            <strong>Schema circuitale</strong>
                            <p>Nell'immagine sottostante viene mostrato lo schema circuitale seguito dall'assemblaggio
                                dei vari componenti. </p>
                            <img class="img-fluid justify-content-md-center"
                                src="../assets/graphics/shemaArduino.svg" />
                            <br>
                            <br>
                            <strong>Utilizzo dei componenti</strong>
                            <p>I componenti sopra elencati mediante integrazione con l'applicativo desktop vengono
                                comandati in base alla gesture che viene recepita.</p>
                            <ul>
                                <li>
                                    <p class="fw-bold mb-0">Led:</p>
                                    <!--TODO da rivedere questa parte-->
                                    <p class="fw-italic mb-0">Comportamento "Singolo":</p>
                                    <ol>
                                        <li>
                                            <!--TODO cosi da simulare il l'accensione di una luce-->
                                            <span style="color: #ff0000">Rosso</span>: si accende quando viene recepita la gesture che indica il numero due
                                        </li>
                                        <li>
                                            <span style="color: #00af17">Verde</span>: si accende quando viene recepita la gesture che indica il numero tre
                                        </li>
                                        <li>
                                            <span style="color: #0000ff">Blu</span>: si accende quando viene recepita la gesture che indica il numero quattro
                                        </li>
                                    </ol>
                                    <br>
                                    <p class="fw-italic mb-0">Comportamento "Collaborativo":</p>
                                    <p class="mb-0">Il riconoscimento della gesture <strong>Palm Open - mano aperta
                                            -</strong> comporta l'accensione contemporanea di tutti i led </p>
                                    <p class="mb-0">Il riconoscimento della gesture <strong>First - pugno chiuso
                                            -</strong> comporta lo spegnimento contemponeo di tutti i led </p>
                                </li>
                                <li>
                                    <p class="fw-bold mb-0">Piezometro:</p>
                                    <p class="mb-0">Il riconoscimento della gesture <strong>Palm Open - mano aperta -
                                        </strong> emette una nota che equivale al valore di 262</p>
                                    <p class="mb-0">Il riconoscimento della gesture <strong>First - pugno chiuso -
                                        </strong> emette una nota che equivale al valore di 294 </p>
                                </li>
                                <li>
                                    <p class="fw-bold mb-0">Servo Motore:</p>
                                    <p class="mb-0">Il riconoscimento della gesture <strong>Index - indice della mano
                                        </strong> in base al movimento che effettua - Rotazione senso
                                        orario oppure Rotazione senso antiorario - ruota il servo motore da 0° a 180°
                                        oppure da 180° a 0°.</p>
                                </li>
                            </ul>

                        </div>
                    </div>
                </section>

                <section class="about section">
                    <div class="section-inner">
                        <h2 class="heading"><a id="dataset"></a>Metodo</h2>
                        <h3 class ="h3-heading"> Hand detection</h3>
                        <div class="content">
                            <p>
                                Lo strumento utilizzato per effettuare la detection della mano è <strong>Mediapipe</strong>, questa è una 
                                soluzione di <i>Hand Traking</i> ad alta fedeltà. Utilizza il machine learning per dedurre 21 punti di riferimento 3D
                                da un singolo fotogramma.
                                Mediapipe utilizza una pipeline composta da più modelli che lavorano insieme:
                                <ul>
                                    <li>Un modello di rilevamento del palmo che opera sull'immagine completa e restituisce un riquadro di delimitazione della mano orientato;</li>
                                    <li>Un modello di riferimento della mano che opera sulla regione della ROI(Region of Interest) definita precedentemente dal rilevatore del palmo e 
                                        restituisce punti chiave della mano 3D ad alta fedeltà.</li>
                                </ul>
                                Dopo il rilevamento del palmo sull'intera immagine, il modello esegue una precisa localizzazione
                                dei punti chiave composti da 21 coordinate 3D delle nocche della mano all'interno delle ROI rilevate tramite regressione.
                                Il modello apprende una rappresentazione coerente della posa della mano interna ed è robusto anche per mani parzialmente 
                                visibili.
                            </p>



                        </div>
                        <h3 class ="h3-heading"> Creazione dataset <i>Hand sign</i></h3>
                        <div class="content">
                            <p>
                                In questa fase, la generazione del dataset ha richiesto la creazione di uno script in Python per l'estrapolazione
                                dei Keypoint della mano <strong><i>"classification_gestures.py"</i></strong>.</br>
                                In particolare questo script, effettua la detection dei Keypoint con Mediapipe ed estrapola
                                quest'ultimi in un file .csv che sarà usato come input per la fase di training.</br></br>

                                <img class="img-fluid  profile-image img-responsive pull-left"
                                src="img/hand_landmarks.png"> </br></br>

                                I dati estratti dai Landmarks, prima di essere inseriti nel file di dataset, vengono preprocessati nel seguente modo:
                                <ul>
                                    <li>Conversione delle coordinate relative all'ID:0 (punto di polso);</li>
                                    <li>Conversione in un array mono dimensionale;</li>
                                    <li>Normalizzazione rispetto ad un valore di massimo.</li>
                                </ul>

                            Eseguendo lo script con argomento <i>mode 1</i> si avrà il seguente: 
                            </br></br><img class="img-fluid  profile-image img-responsive pull-left"
                            src="img/hand-sign.png"> </br></br>
                            
                            Utilizzando i tasti numerici da "0" a "5", i Keypoints verranno aggiunti al file <strong><i>"assets/dataset/keypoint.csv"</i></strong>
                            come mostrato di seguito.</br>
                            Prima colonna: numero della tastiera (utilizzato come l'ID della classe), dalla seconda colonna in poi: coordinate dei Keypoints.</br></br>

                            <img class="img-fluid  profile-image img-responsive pull-left"
                                src="img/Dataset1.png"> </br></br>
                            </p>



                        </div>

                        <h3 class ="h3-heading"> Creazione dataset <i>Hand gesture</i></h3>
                        <div class="content">
                            <p>
                                In questa fase, la generazione del dataset inerente alla classificazione delle hand gestures ha richiesto l'estensione dello script 
                                ,precedentemente introdotto, affinchè implementasse la classificazione del segno <i>indice</i> e di conseguenza, l'estrazione del singolo keypoint
                                dell'indice in una coda FIFO che mantiene i punti dei 20 frame precedenti.</br></br>
                                Anche in questo caso i dati estratti dai Landmarks vengono preprocessati, prima di inserirli nel file di dataset.</br>

                                Utilizzando i tasti numerici da "0" a "1", i Keypoints verranno aggiunti al file 
                                <strong><i>"assets/dataset/keypoint_history.csv"</i></strong></br></br>

                                Eseguendo lo script con argomento <i>mode 2</i> si avrà il seguente:
                                </br></br>
                                <img class="img-fluid  profile-image img-responsive pull-left"
                                src="img/hand-gesture.png"> </br>

                            </p>



                        </div>

                        <h3 class ="h3-heading"> Training</h3>
                        <div class="content">
                            <p>
                                Il training della rete e di conseguenza la creazione del modello, ha richesto la creazione di un <i>Jupiter Notebook</i> per ciscun datatset;</br></br>
                                <strong><i>neuralnetwork/hand_classificator.ipynb</i></strong> per quanto riguarda gli <i>hand sign</i>.</br>
                                <strong><i>neuralnetwork/hand_history_classificator.ipynb</i></strong> per quanto riguarda le <i>hand gesture</i>.</br></br>
                                Il dataset per gli <i>hand sign</i> è stato diviso in:
                                <ul>
                                    <li>60% training;</li>
                                    <li>20% test;</li>
                                    <li>20% validation.</li>
                                </ul>
                                <iframe class="w-100" style="height: 50vh;" src="./img/data-plot.html"></iframe></br>
                                Il modello della rete vine creato nel seguente modo:</br></br>
                                
                                
                                <pre><code class="python"> <!--TODO @vincenzo formattare il codice a sinistra della pagina -->
model = tf.keras.models.Sequential([
    tf.keras.layers.Input((21 * 2, )),
    tf.keras.layers.Dropout(0.2),
    tf.keras.layers.Dense(20, activation='relu'),
    tf.keras.layers.Dropout(0.4),
    tf.keras.layers.Dense(10, activation='relu'),
    tf.keras.layers.Dense(num_classes, activation='softmax'),
])
                                </code></pre>
                                
                                <img class="img-fluid  profile-image img-responsive pull-left"
                                src="img/model1.png" hegiht="400" width="400"> </br></br>
                            </br>Anche il dataset per le <i>hand gesture</i> è stato diviso in:
                                <ul>
                                    <li>60% training;</li>
                                    <li>20% test;</li>
                                    <li>20% validation.</li>
                                </ul>
                                <iframe class="w-100" style="height: 50vh;" src="./img/data-plot2.html"></iframe></br>

                                Il modello della rete vine creato nel seguente modo:</br></br>
                                
                                <pre><code class="python"> <!--TODO @vincenzo formattare il codice a sinistra della pagina -->
model = tf.keras.models.Sequential([
    tf.keras.layers.InputLayer(input_shape=(TIME_STEPS * DIMENSION, )),
    tf.keras.layers.Dropout(0.2),
    tf.keras.layers.Dense(24, activation='relu'),
    tf.keras.layers.Dropout(0.5),
    tf.keras.layers.Dense(10, activation='relu'),
    tf.keras.layers.Dense(NUM_CLASSES, activation='softmax')
])
                                </code></pre>
                                
                                <img class="img-fluid  profile-image img-responsive pull-left"
                                src="img/model2.png" hegiht="400" width="400"> </br></br>

                            </p>



                        </div>
                    </div>
                </section>

                <!-- Implementazione e codice -->
                <section class="about section">
                    <div class="section-inner">
                        <h2 class="heading"><a id="dataset"></a>Implementazione e Codice</h2>
                        <div class="content">
                            <h3 class ="h3-heading"> Implementazione</h3>
                                <div class="content">
                                    <p>
                                        Le tecnologie utilizzate per implementare il progetto sono state:
                                        <ul>
                                            <li>Python 3</li>
                                            <ul>
                                                <li>
                                                    Mediapipe
                                                </li>
                                                <li>
                                                    Tensorflow lite
                                                </li>
                                                <li>
                                                    pandas
                                                </li>
                                                <li>
                                                    sklearn
                                                </li>
                                                <li>
                                                    matplotlib
                                                </li>
                                                <li>
                                                    OpenCV
                                                </li>
                                            </ul>
                                        </ul>   
                                        Framework per l'interfaccia grafica
                                        <ul>
                                            <li>Kivy</li>
                                            <li>KivyMD</li>
                                        </ul>        
                                        Dispositivo Hardware
                                        <ul>
                                            <li>Arduino UNO</li>
                                        </ul>
                                    </p>
                            
                            <h3 class ="h3-heading"> Codice sorgente</h3>
                            <div class="content">
                                <p>
                                    <a href="https://github.com/vinrus/progetto-visione" target="_blank">Link repository Github</a>
                                </p>

                        </div>
                        <!--//content-->
                    </div>
                    <!--//section-inner-->
                </section>

                <!-- Dataset -->
                <section class="about section">
                    <div class="section-inner">
                        <h2 class="heading"><a id="dataset"></a>Dataset</h2>
                        <div class="content">
                            <p>The dataset è composto nel seguente modo:</p>

                                <html>
								<head>
								<style>
								#customers {
								font-family: Arial, Helvetica, sans-serif;
								border-collapse: collapse;
								width: 100%;
								}

								#customers td, #customers th {
								border: 1px solid #ddd;
								padding: 8px;
								}

								#customers tr:nth-child(even){background-color: #f2f2f2;}

								#customers tr:hover {background-color: #ddd;}

								#customers th {
								padding-top: 12px;
								padding-bottom: 12px;
								text-align: left;
								background-color: #00991c;
								color: white;
								}
								</style>
								</head>
								<body>

                                <table id="customers">
                                    <tr>
                                        <th>Classe</th>
                                        <th>n° di dati</th>
                                    </tr>
                                    <tr>
                                        <td>Palm open</td>
                                        <td>3000</td>
                                    </tr>
                                    <tr>
                                        <td>Fist (palm closed)</td>
                                        <td>3000</td>
                                    </tr>
                                    <tr>
                                        <td>Index</td>
                                        <td>3000</td>
                                    </tr>
                                    <tr>
                                        <td>Finger 2</td>
                                        <td>3000</td>
                                    </tr>
                                    <tr>
                                        <td>Finger 3</td>
                                        <td>3000</td>
                                    </tr>
                                    <tr>
                                        <td>Finger 4</td>
                                        <td>3000</td>
                                    </tr>
                                    <tr>
                                        <td>Clockwise</td>
                                        <td>12000</td>
                                    </tr>
                                    <tr>
                                        <td>Counter clockwise</td>
                                        <td>12000</td>
                                    </tr>
                                </table>

								</body>
								</html>

                        </div>
                        <!--//content-->
                    </div>
                    <!--//section-inner-->
                </section>
                <!--//section-->

                <section class="about section">
                    <div class="section-inner">
                        <h2 class="heading"><a id="training"></a>Risultati</h2>
                        <div class="content">


                            <h3>Risultati qualitativi</h3>
                            <p>Fornire esempi di applicazione del metodo con immagini e video</p>


                            <h3>Risultati quantitativi</h3>
                            <p>Per valutare le performance del modello, è stata utilizzata come metrica la <i>F1-score</i>.</br>
                                Questa riassume le prestazioni predittive del modello utilizzando a sua volta due ulteriori metriche:</br>
                                <i>Precision</i> e <i>Recall</i>.</br></br>
                                La <i>precision</i> è il rapporto tra il numero delle previsioni corrette di un evento (classe) sul totale delle volte 
                                che il modello lo prevede. Quando un modello è preciso per una classe, ogni volta che prevede l'evento sbaglia raramente.</br></br>
                                La <i>recall</i> misura la sensibilità del modello. E' il rapporto tra le previsioni corrette per una classe sul totale dei casi 
                                in cui si verifica effettivamente.
                            </p>
                            <p>Per definizione, <i>F1-score</i> è la media aronica di <i>Precision</i> e <i>Recall</i> definita come:</br>
                                \[ \text{F1-score} = 2 \times \frac{Precision \times Recall}{Precision + Recall}\] </br>

                                Questa formula può essere scritta in modo equivalente come:

                                \[\text{F1-score} =  \frac{2}{\frac{1}{Precision} + \frac{1}{Recall}}\] </br>

                                F1-score tiene conto sia di <i>precision</i> che di <i>recall</i>, il che significa che tiene in considerazione sia dei 
                                <i>FP</i> (false positive) che dei <i>FN</i>(false negative), essendo un valore compreso tra 0 e 1, più 
                                è vicino a 1, migliore è il modello.</br></br>

                                In aggiunta è stata creata la matrice di confusione come ulteriore metrica nella quale ogni riga
                                rappresenta i valori predetti, mentre ogni colonna rappresenta i valori reali. L'elemento sulla colonna
                                j è il numero di casi in cui il classificatore ha classificato la classe "vera" j come classe i. attraverso
                                questa matrice è osservabile se vi è "confusione" nella classificazione di diverse classi.           
                            </p>


                            <p>
                                Per quando riguarda il modello per la classificazione degli <i>Hand Sign</i>
                                abbiamo:</br>
                                <img class="img-fluid  profile-image img-responsive pull-left"
                                src="img/confusionMatrix1.png"> </br></br>

                                <html>
                                    <head>
                                    <style>
                                    #customers {
                                    font-family: Arial, Helvetica, sans-serif;
                                    border-collapse: collapse;
                                    width: 100%;
                                    }
    
                                    #customers td, #customers th {
                                    border: 1px solid #ddd;
                                    padding: 8px;
                                    }
    
                                    #customers tr:nth-child(even){background-color: #f2f2f2;}
    
                                    #customers tr:hover {background-color: #ddd;}
    
                                    #customers th {
                                    padding-top: 12px;
                                    padding-bottom: 12px;
                                    text-align: left;
                                    background-color: #ffc341;
                                    color: white;
                                    }
                                    </style>
                                    </head>
                                    <body>
    
                                    <table id="customers">
                                        <tr>
                                            <th>Classe</th>
                                            <th>Precision</th>
                                            <th>Recall</th>
                                            <th>F1-score</th>
                                        </tr>
                                        <tr>
                                            <td>Palm open</td>
                                            <td>1.0</td>
                                            <td>0.99</td>
                                            <td>0.99</td>
                                        </tr>
                                        <tr>
                                            <td>Fist (palm closed)</td>
                                            <td>1.0</td>
                                            <td>1.0</td>
                                            <td>1.0</td>
                                        </tr>
                                        <tr>
                                            <td>Index</td>
                                            <td>0.97</td>
                                            <td>1.0</td>
                                            <td>0.99</td>
                                        </tr>
                                        <tr>
                                            <td>Finger 2</td>
                                            <td>0.99</td>
                                            <td>0.97</td>
                                            <td>0.98</td>
                                        </tr>
                                        <tr>
                                            <td>Finger 3</td>
                                            <td>1.0</td>
                                            <td>0.99</td>
                                            <td>1.0</td>
                                        </tr>
                                        <tr>
                                            <td>Finger 4</td>
                                            <td>0.99</td>
                                            <td>1.0</td>
                                            <td>1.0</td>
                                        </tr>
                                    </table>
                                    </body>
                                    </html>
                            </p>
                            <p>
                                <iframe class="w-100" style="height: 50vh;" src="./img/train1.html"></iframe></br>
                                <iframe class="w-100" style="height: 50vh;" src="./img/validation1.html"></iframe></br>
                            </p>

                            <p>
                                Per quando riguarda il modello per la classificazione delle <i>Hand Gesture</i>
                                abbiamo:</br>
                                <img class="img-fluid  profile-image img-responsive pull-left"
                                src="img/confusionMatrix2.png"> </br></br>

                                <html>
                                    <head>
                                    <style>
                                    #customers {
                                    font-family: Arial, Helvetica, sans-serif;
                                    border-collapse: collapse;
                                    width: 100%;
                                    }
    
                                    #customers td, #customers th {
                                    border: 1px solid #ddd;
                                    padding: 8px;
                                    }
    
                                    #customers tr:nth-child(even){background-color: #f2f2f2;}
    
                                    #customers tr:hover {background-color: #ddd;}
    
                                    #customers th {
                                    padding-top: 12px;
                                    padding-bottom: 12px;
                                    text-align: left;
                                    background-color: #ffc341;
                                    color: white;
                                    }
                                    </style>
                                    </head>
                                    <body>
    
                                    <table id="customers">
                                        <tr>
                                            <th>Classe</th>
                                            <th>Precision</th>
                                            <th>Recall</th>
                                            <th>F1-score</th>
                                        </tr>
                                        <tr>
                                            <td>Clockwise</td>
                                            <td>0.99</td>
                                            <td>1.0</td>
                                            <td>1.0</td>
                                        </tr>
                                        <tr>
                                            <td>Counter Clockwise</td>
                                            <td>1.0</td>
                                            <td>0.99</td>
                                            <td>1.0</td>
                                        </tr>
                                    </table>
                                    </body>
                                    </html>
                            </p>
                            <p>
                                <iframe class="w-100" style="height: 50vh;" src="./img/train2.html"></iframe></br>
                                <iframe class="w-100" style="height: 50vh;" src="./img/validation2.html"></iframe></br>
                            </p>
                        </div>
                        <!--//content-->
                    </div>
                    <!--//section-inner-->
                </section>
                <!--//section-->

            </div>
            <!--//primary-->

            <div class="secondary col-md-4 col-sm-12 col-xs-12">
                <aside class="info aside section">
                    <div class="section-inner">
                        <h2 class="heading">Autori</h2>
                        <div class="content">
                            <p>Andrea D'Acunto, 61006</p>
                            <p>Marco D'Emilio, 59973 </p>
                            <p>Vincenzo Russo, 61005</p>
                        </div>
                        <!--//content-->
                    </div>
                    <!--//section-inner-->
                </aside>
                <!--//aside-->


                <aside class="blog aside section">
                    <div class="section-inner">
                        <h2 class="heading">Riferimenti</h2>
                        <div class="content">
                            <div class="item">
                                <a href="https://google.github.io/mediapipe/" target="_blank">MediaPiepe</a>
                            </div>
                            <div class="item">
                                <a href="https://www.arduino.cc" target="_blank">Arduino</a>
                            </div>
                            <div class="item">
                                <a href="https://kivy.org" target="_blank">Kivy</a>
                            </div>
                        </div>
                        <!--//content-->
                    </div>
                    <!--//section-inner-->
                </aside>
                <!--//section-->

            </div>
            <!--//secondary-->
        </div>
        <!--//row-->
    </div>
    <!--//masonry-->

    <!-- ******FOOTER****** -->
    <footer class="footer">
        <div class="container text-center">
            <small class="copyright">This template adapted from <a href="http://themes.3rdwavemedia.com/"
                    target="_blank">3rd Wave Media</a></small>
        </div>
        <!--//container-->
    </footer>
    <!--//footer-->





</body>

</html>